body{
    background-color: #18171c;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.first{
    background-color: #ff5c55;
}
.icon{
    height: 100%;
    width: auto;
    display: inline-block;
}
header{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    height: auto;
    background-color: #18171c;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav{
    width: 30%;
}
nav ul li{
    display: inline-block;
    margin: 0 0;
    height: 8vh;
    line-height: 8vh;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}
nav ul li a:hover{
    color: #ff5c55;   
}
.login{
    margin: 40px 40px;
}
section{
    height: 92vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
section .left{
    height: 100%;
    width: 16%;
    float: left;
    background-color: #18171c;
}
section .left ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
section .left ul li{
    height: 8vh;
    line-height: 8vh;
    text-align: center;
}
section .left ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}
section .left ul li a:hover{
    color: #ff5c55;
}
section .right{
    height: 100%;
    width: 84%;
    float: left;
    background-color: #111015;
    border-radius: 100px 0px 0px 0;
}