body{
    background-color: #0a0a0a;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.first{
    background-color: #ff5c55;
}
.icon{
    height: 100%;
    width: auto;
    display: inline-block;
}
header{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    height: auto;
    background-color: #0a0a0a;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav{
    width: 30%;
}
nav ul li{
    display: inline-block;
    margin: 0 0;
    height: 8vh;
    line-height: 8vh;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}
nav ul li a:hover{
    color: #ff5c55;   
}
.login{
    margin: 40px 40px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100%;

    color: white;
}
.container .centered{

    height: 90%;
    width: 80%;
}
.container h1{
    font-size: 75px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0vh;
}
.container h3{
    font-size: 40px;
    font-weight: 300;
    margin: 1vh 0;
}
.container h2{
    font-size: 50px;
    font-weight: 500;
    margin: 0vh 0;
}
.sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
}
.sections div{
    width: 40%;
}
.btn{
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #0a0a0a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-top: 4vh;

}